# OS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
build/
dist/
.expo/

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/app/build/
android/build/

# Metro
.metro-health-check*

# Env
.env
.env.local
.env.*.local
.vercel
